<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prep4Int</title>
    <link rel="stylesheet" href="css/style.css">
</head>
</head>
<body>
    <nav>
        <ul>
            <li class="brand"><img src="img/logo.png" alt="prep4int"> Prep4Int</li>
            <div class="navi">
              <li class="nav1"><a href="#about">About</a></li>
              <li class="nav1"><a href="#practise">Practise</a></li>
              <li class="nav1"><a href="#contactus">ContactUs</a></li>
            </div>
        </ul>
    </nav>
    <div id="goabout" class="containers">
        <div class="container">
        <h1 id="about">About</h1>
        <p id="para">
            This website is for the students who are looking<br/>
            to practice for the interview. It will provide -<br/>
            <ul id="a">
                <li >All topics of DSA</li>
                <li >Important topics of DSA</li>
                <li >Topicwise important questions of DSA</li>
            </ul>
        </p>
        </div>
        <div class="container1">
            <img id="img" src="img/bg1.png" alt="bg1" width="550" height="550">
        </div>
    </div>
      <script src="prep4int.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>