<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prep4Int</title>
    <link rel="stylesheet" href="prep4int.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <nav>
        <ul>
            <li class="brand"><img src="img/logo.png" alt="prep4int"> Prep4Int</li>
            <div class="navi">
              <li class="nav1"><a href="#about">About</a></li>
              <li class="nav1"><a href="#practise">Practise</a></li>
              <li class="nav1"><a href="#contactus">ContactUs</a></li>
            </div>
            <li class="lioful">
              <a class="insta" href="#"><i class="fa fa-bars"></i></a>
              <ul class="dropdown">
                  <li><a href="alltopics.html">Topics</a></li>
                  <li><a href="rec.html">Recomm.</a></li>
                  <li><a href="que.html">Questions</a></li>
                  <li><a href="/">Log Out</a></li>
              </ul>
          </li>
        </ul>
    </nav>
    <div id="goabout" class="containers">
      <!-- <video id="video" autoplay loop muted>
        <source src="back.mp4" type="video/mp4">
      </video> -->
        <div class="container">
        <h1 id="about">About</h1>
        <p id="para">
            This website is for the students who are looking<br/>
            to practice for the interview. It will provide -<br/>
            <ul id="a">
                <li >All topics of DSA</li>
                <li >From where to study the topics.</li>
                <li >Topicwise important questions of DSA</li>
            </ul>
        </p>
        </div>
        <div class="container1">
            <img id="img" src="img/bg1.png" alt="bg1" width="550" height="550">
        </div>
    </div>
    <section id="practise" class="first">
        <div class="second">
          <div class="third">
            <div class="box1">
              <div class="box11">
                <img  src="img/topics.png"  alt="blog">
                <div class="p-6">
                  <h1 class="topic">DSA Topics</h1><div class="write">
                    <p class="boxwrite">Here you will get all important topics related to DSA.</p>
                  </div>
                  <div class="but">
                    <a href="alltopics.html">
                      <button class="button but1" type="button">Click Me!</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box1">
              <div class="box11">
                <img  src="img/imp.png" alt="blog">
                <div class="p-6">
                  <h1 class="topic">Recommendation</h1>
                  <div class="write">
                  <p class="boxwrite">Here you will get best sources to learn important topics.</p>
                  </div>
                  <div class="but">
                    <a href="rec.html">
                      <button class="button but2" type="button">Click Me!</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box1">
              <div class="box11">
                <img  src="img/que.png" alt="blog">
                <div class="p-6">
                  <h1 class="topic">DSA Important Questions</h1>
                  <div class="write">
                    <p class="boxwrite">Here you will get important questions of DSA topics.</p>
                  </div>
                  <div class="but">
                    <a href="que.html">
                      <button class="button but3" type="button">Click Me!</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
      <hr/>
      <section id="contactus" class="section-wrapper" >
        <div class="box-wrapper">
            <div class="info-wrap">
                <h2 class="info-title">Contact Info.</h2>
                <h3 class="info-sub-title">You can directly contact to us using any of these option</h3>
                <ul class="info-details">
                    <li>
                        <i  id="phone" class="fas fa-phone-alt"></i>
                        <span>Phone:</span> <a href="tel:+ 91 9981245172">+91 9981245172</a>
                    </li>
                    <li>
                        <i id="mail" class="fas fa-paper-plane"></i>
                        <span>Email:</span> <a href="amansinghsgrl@gmail.com">amansingh@gmail.com</a>
                    </li>
                    <li>
                        <i id="site" class="fas fa-globe"></i>
                        <span>Website:</span> <a href="#">Mysite.com</a>
                    </li>
                </ul>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
            <div class="form-wrap">
                <form action="/index" method="POST">
                    <h2 class="form-title">Send us a message</h2>
                    <div class="form-fields">
                        <div class="form-group">
                            <input type="text" name="fname" class="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="lname" class="lname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="Email" name="email" class="email" placeholder="Mail">
                        </div>
                        <div class="form-group">
                            <input type="number" name="phone" class="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <input id="send" type="submit" value="Send Message" class="submit-button">
                </form>
            </div>
        </div>
    </section>
      <script src="prep4int.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>